# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/
.astro/

# Env
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*

# Deploy
.vercel
.netlify

# Cache
.cache/
.turbo/
